[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

html,
body {
  background-color: #202E3D;
  padding: 0;
  margin: 0;
}
body {
 color: #e8e8e8;
 text-align: center;
}

h1 {
  color: #fff;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.alert .close {
  font-size: 15px;
}

.input-group {
  max-width: 450px;
  margin: 0 auto 20px;
}

.alert {
  max-width: 450px;
  margin: -15px auto 10px;
  padding: 5px;
  font-size: 13px;
}

.logo {
  max-width: 180px;
  display: block;
  margin: 20px auto 20px;
  width: 100%;
}

.built-with {
  max-width: 360px;
  margin: 40px auto 0;
}
.thumbnail {
  background: transparent;
  border: 0;
  opacity: 0.8;
}

.thumbnail:hover {
  opacity: 1;
}

.has-error .form-control {
  box-shadow: none;
}

.signup-form {
  margin-top: 30px;
}
a,
a:focus,
a:hover {
  color: #FF8C88;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #264348;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}